[Desktop Entry]
Name=CPU Governer
GenericName=CPU MODE
Comment=Sets cpu mode to performance by default
Exec=sudo bash -c 'for i in {0..3};do cpufreq-set -c $i -g performance;done'
Icon=cpu-governer
Terminal=true
Type=Application
Keywords=cpu;governer;
Categories=Utility;Tweaks;System;
StartupWMClass=CPUMODE
Actions=perf;ondemand;powersave;

[Desktop Action perf]
Name=Performance
Exec=sudo bash -c 'for i in {0..3};do cpufreq-set -c $i -g performance;done'

[Desktop Action ondemand]
Name=On-Demand
Exec=sudo bash -c 'for i in {0..3};do cpufreq-set -c $i -g ondemand;done'

[Desktop Action powersave]
Name=Powersave
Exec=sudo bash -c 'for i in {0..3};do cpufreq-set -c $i -g powersave;done'
